<div id="splash-img" class="hero fullscreen hero-img">
  <div class="hero-body">
    <div class="content u-text-center">
      <img class="splash" src="splash.png" alt="">
      {{!-- <h1 class="uppercase white title">Fortweets</h1> --}}
      <h4 class="uppercase white sub-title txtshadow">El tren de Ricardo Fort sólo pasa una vez en la vida</h3>
        <form id="search" class="form-group">
          <input type="text" id="search-input" class="form-group-input input-large"
            placeholder="Qué dijo el comandante sobre..."></input>
          <button type="submit" id="searchSubmit" class="form-group-btn btn-xlarge">Buscar</button>
        </form>
    </div>
  </div>
</div>

<section id="tweets" class="section content">
</section>